#!/usr/bin/env nextflow

params.outdir = './results/'

manifest {
	mainScript = 'main.nf'
	description = 'Assembly Polishing Pipeline'
}

process {
	executor = 'slurm'
	submitRateLimit = '1000 min'
  queueSize = 1500

	errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
	maxRetries = 2
	maxErrors = '-1'

/****************************************
 *		Long reads configuration		*
 ****************************************
 */

	withName : rename_long_reads {
		executor = 'local'
	}

	withLabel: 'minimap' {
		module = 'bioinfo/minimap2-2.11'
		cpus = { 4 + 4 * task.attempt }
		memory = { 32.GB * task.attempt }
		time = { 36.h + 12.h * task.attempt }
		queue = 'workq'
	}

	withLabel: 'raconLR' {
		module = 'bioinfo/racon-v1.3.1'
		publishDir = "${params.outdir}/RACON_LR"
		cpus = { 4 * task.attempt }
		memory = { 250.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'smpq'
		clusterOptions = '--constraint=broadwell'
	}

	withLabel: 'wtdbg2LR' {
		module = 'bioinfo/samtools-1.9:bioinfo/wtdbg2-2.3'
		publishDir = "${params.outdir}/wtdbg2_LR"
		cpus = { 8 * task.attempt }
		memory = { 160.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'unlimitq'
	}

	withLabel: 'pilonLR' {
		module = 'system/Java8:bioinfo/pilon-v1.22'
		publishDir = "${params.outdir}/PILON_LR"
		cpus = { 8 * task.attempt }
		memory = { 160.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'unlimitq'
	}

	withLabel: 'medakaLR' {
		module = 'bioinfo/medaka-0.5.0'
		publishDir = "${params.outdir}/medaka_LR"
		cpus = { 8 * task.attempt }
		memory = { 160.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'unlimitq'
	}




/****************************************
 *		Short reads configuration		*
 ****************************************
 */

	withLabel: 'bwa_mem' {
		module = 'bioinfo/samtools-1.4:bioinfo/bwa-0.7.17'
		cpus = 16
		memory = 40.GB
		time = { 7.d * task.attempt }
		queue = 'unlimitq'
	}

	withLabel: bwa_samtools {
		module = 'bioinfo/samtools-1.4:bioinfo/bwa-0.7.17'
		cpus   = 16
		memory = 40.GB
		time   = { 7.d * task.attempt }
		queue  = 'unlimitq'
	}

	withLabel: 'longranger_mkref' {
		module = 'bioinfo/longranger-2.2.2'
		cpus   = { 2 * task.attempt }
		memory = 8.GB
		time   = '12h'
		queue  = 'workq'
	}

	withLabel: 'longranger_align' {
		module = 'bioinfo/longranger-2.2.2'
		cpus   = 16
		memory = 40.GB
		time   = { 7.d * task.attempt }
		queue  = 'unlimitq'
	}

	withLabel : divideContigs {
		module = 'system/Python-3.6.3'
		memory = {8.GB}
		cpus = 1
	}

	withLabel: 'pilonSR' {
		module = 'system/Java8:bioinfo/pilon-v1.22'
		cpus = { 1 * task.attempt }
		memory = { 12.GB + 6.GB * task.attempt }
		time = '18h'
		queue = 'workq'
	}

	withLabel : fasta_concat  {
		module = 'system/Python-3.6.3'
		publishDir = "${params.outdir}/PILON_SR"
	}

	withLabel: 'raconSR' {
		module = 'bioinfo/racon-v1.3.1'
		publishDir = "${params.outdir}/RACON_SR"
		cpus = { 8 * task.attempt }
		memory = { 160.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'workq'
		clusterOptions = '--constraint=broadwell'
	}

	withLabel: 'freebayes' {
		module = 'bioinfo/freebayes-v1.2.0-2'
		cpus = { 8 * task.attempt }
		memory = { 160.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'workq'
	}

	withLabel: 'vcftools' {
		module = 'bioinfo/tabix-0.2.5:bioinfo/vcftools-0.1.15'
		publishDir = "${params.outdir}/VCFTOOLS"
		cpus = { 8 * task.attempt }
		memory = { 160.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'workq'
	}

	withLabel: 'wtdbg2SR' {
		module = 'bioinfo/samtools-1.9:bioinfo/wtdbg2-2.3'
		publishDir = "${params.outdir}/wtdbg2_SR"
		cpus = { 8 * task.attempt }
		memory = { 160.GB * task.attempt }
		time = { 96.h * task.attempt }
		queue = 'workq'
	}

	withLabel: 'busco' {
		module = 'system/Python-3.6.3:bioinfo/augustus-3.3:bioinfo/busco-3.0.2'
		publishDir = "${params.outdir}/BUSCO"
		errorStrategy = 'ignore'
		cpus = 4
		memory = 16.GB
		time   = { 6.d * task.attempt }
		queue = 'unlimitq'
	}

	withLabel: 'katLR' {
		module = 'system/Miniconda3-4.4.10:bioinfo/kat-2.4.1'
		publishDir = "${params.outdir}/KAT_LR"
		errorStrategy = 'ignore'
		cpus = 8
		memory = 400.GB
		time   = { 2.d * task.attempt }
		queue = 'smpq'
	}

	withLabel: 'katSR' {
		module = 'system/Miniconda3-4.4.10:bioinfo/kat-2.4.1'
		publishDir = "${params.outdir}/KAT_LR"
		errorStrategy = 'ignore'
		cpus = 8
		memory = 400.GB
		time   = { 2.d * task.attempt }
		queue = 'smpq'
	}

	withLabel: 'quast'{
		module= 'system/R-3.4.3:bioinfo/quast-5.0.0rc1'
		publishDir = "${params.outdir}/QUAST"
		cpus = 16
		memory = 16.GB
		time = '4h'
		queue = 'workq'
	}
}
